@font-face {
	font-family: Poppins;
	font-weight: normal;
    font-style: normal;
	src: url(../fonts/Poppins/Poppins-Black.ttf);	
}
.main__inner {
	display: flex;
    width: 800px;
    height: 434px;
    margin: 90px 320px 500px 320px;
    background-color: #FCFCFC;
    flex-wrap: wrap;
}
.main__inner-box1 {
    display: flex;
    width: 340px;
    height: 162px;
    margin: 40px 0px 0px 45px;
    align-items: center;
    justify-content: space-evenly;
}
.main__inner-box2 {
    display: flex;
    width: 340px;
    height: 162px;
    margin: 40px 45px 0px 0px;
    align-items: center;
    justify-content: space-evenly;
}
.main__inner-box3 {
    display: flex;
    width: 340px;
    height: 162px;
    margin: 0px 0px 40px 45px;
    align-items: center;
    justify-content: space-evenly;
}
.main__inner-box4 {
    display: flex;
    width: 340px;
    height: 162px;
    margin: 0px 45px 40px 0px;
    align-items: center;
    justify-content: space-evenly;
}
.main__inner1 {
    display: flex;
    width: 400px;
    height: 217px;
}
.main__inner2 {
	display: flex;
    width: 400px;
    height: 217px;
    justify-content: flex-end;
}
.main__inner3 {
	display: flex;
    width: 400px;
    height: 217px;
    flex-wrap: wrap-reverse;
}
.main__inner4 {
	display: flex;
    width: 400px;
    height: 217px;
    justify-content: flex-end;
    flex-wrap: wrap-reverse;
}
.main_inner-img1 {
	display: flex;
    justify-content: center;
}
.main_inner-img2 {
    display: flex;
    justify-content: center;
}
.main_inner-img3 {
    display: flex;
    justify-content: center;
}
.main_inner-img4 {
    display: flex;
    justify-content: center;
}
.main__inner-title {
	display: flex;
    width: 158px;
    height: 220px;
    flex-wrap: wrap;
    margin-left: 20px;
}
.main__inner-title1 {
    display: flex;
    align-items: flex-end;
}